html{
    background-color: #ECE2DC;
}


header{
    background-color: #ECE2DC;

.navbar{
    background-color: #DA0A0A;
    font-weight: 500;
    
.navbar-brand{
    img{
        width: 50px;
        height: 50px;
    }
}



.navbar-nav{

   .nav-link{
   color:#ffffff; } 
     
}

}
.container{
    background-color: #ECE2DC;
    .display-5{
        text-shadow: #474747 2px 2px 3px;
        .spuName{
            color:#DA0A0A;
        }
    }

.btn{
    background-color: #3C4888;
    -webkit-box-shadow: 13px 8px 15px -1px #000000; 
     box-shadow: 13px 8px 15px -1px #000000;
}
}

body{
    .container-sm{
        background-color: #3C4888; 
    }
}

}
